name: Assign issue to contributor
on: 
  issue_comment:
    types: [created, edited] # action runs on new and edited issue comments

jobs:
  assign:
    name: Take an issue
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - name: take the issue
      uses: bdougie/take-action@main
      with:
        message: Thanks for taking this issue! Let us know if you have any questions!
        trigger: .take
        token: ${{ secrets.GITHUB_TOKEN }}
